<div class="row">
  <div class="col-4">
    <select name="selectIngredients" id="selectIngredients" class="form-control" (change)="filterCakes($event)">
      <option value="">--</option>
      <option value="{{ingredientItem}}" *ngFor="let ingredientItem of ingredients">{{ingredientItem}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-4 cake-item-list" *ngFor="let cakeItem of cakes">
    <!-- Cake list -->
    <app-cake-item [cake]="cakeItem"></app-cake-item>
  </div>
</div>
